.btn {
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

.btn--primary {
  background-color: var(--bg-secondary);
  color: var(--bg);
}

.btn:hover {
  transform: scale(0.97);
}

.btn--secondary {
  background-color: var(--bg-secondary);
  color: var(--bg);
  font-weight: 500;
  font-size: 1.2rem;
}

.btn--tertiary {
  background-color: var(--active-nav-link);
  color: var(--neutrals-black);
  font-weight: 500;
  font-size: 1.2rem;
}