.img__container {
  display: flex;
  justify-content: center;
}

.sun {
  height: 14rem;

  @media screen and (min-width: 768px) {
    height: 20rem;
  }
}

.img--socials {
  position: absolute;
  top: 0;
  height: 2.5rem;
}

@media screen and (min-width: 768px) {
  .img--socials {
    height: 3.5rem;
  }
}

.img--socials-x {
  transform: rotate(4deg);
}

.img--socials-gh {
  transform: translateY(-4px);
}

.img--socials-li {
  transform: rotate(-3deg);
}

.link__socials .img--socials {
  transition: transform 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.link__socials:hover .img--socials,
.link__socials:hover .img--socials-x,
.link__socials:hover .img--socials-gh,
.link__socials:hover .img--socials-li {
  transform: translateY(-3rem);
  transition: transform 0.3s ease-in-out;
}

@media (hover: none) {
  .link__socials .img--socials-gh {
    animation: socialBounceGH 2s ease-in-out infinite;
    transition: none;
  }

  .link__socials .img--socials-li {
    animation: socialBounceLI 2s ease-in-out infinite;
    animation-delay: 0.3s;
    transition: none;
  }
}

.deco-svg {
  position: absolute;
  top: -1rem;
  transform: scale(0.5);
  z-index: 1;
  pointer-events: none;
}

.left-svg {
  position: absolute;
  left: -8rem;
  transform: translateY(-45%) scale(0.4) rotate(5deg);
}

.right-svg {
  position: absolute;
  right: -7rem;
  transform: translateY(-25%) scale(0.5) rotate(0deg);
}

.draw-path {
  stroke-dasharray: 1500;
  stroke-dashoffset: 1500;
  animation: drawLoopAnimation 3s ease-in-out infinite;
}


@media screen and (min-width: 768px) {
  .right-svg {
    right: -8rem;
    transform: translateY(-25%) scale(0.5) rotate(-5deg);
  }
  .left-svg {
    left: -9rem;
    transform: translateY(-45%) scale(0.5) rotate(5deg);
  }
}

@media screen and (min-width: 1024px) {
  .right-svg {
    right: -13rem;
    transform: translateY(5%) scale(0.6) rotate(-5deg);
  }
  .left-svg {
    left: -9rem;
    transform: translateY(-45%) scale(0.6) rotate(5deg);
  }
}

@media (hover: hover) {
  .draw-path {
    stroke-dasharray: 1500;
    stroke-dashoffset: 1500;
    transition: stroke-dashoffset 0s;
    animation: none;
  }
  
  .left-svg .draw-path,
  .right-svg .draw-path {
    opacity: 0;
  }
  
  .link__container:hover .draw-path {
    stroke-dashoffset: 0;
    opacity: 1;
    transition: stroke-dashoffset 1.5s ease-in-out, opacity 0.3s ease-in;
  }
}


.img--mask {
  -webkit-mask-image: url("../images/blob.svg");
  mask-image: url("../images/blob.svg");
  mask-size: 500%;
  mask-position: center;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 769px) {
  .img--mask {
    mask-size: 150%;
  }

  .img--mask:hover {
    mask-size: 500%;
  }
}

.phone__icon {
  width: 100%;
  height: 100%;
  position: relative;
  transform-origin: center;
  display: inline-block;
  scale: 0.7;
  animation: phoneShake 1s ease-in-out infinite;

  @media screen and (min-width: 768px) {
    scale: 1;
  }
}

.svg-phone-drawing {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -6rem;
  right: -4rem;
  transform: rotate(100deg);
  scale: 0.5;

  @media screen and (min-width: 768px) {
    scale: 0.7;
    top: -7rem;
    right: -5rem;
  }
}
