.list {
  display: flex;

}

.list--column {
  flex-direction: column;
}

.list--skills {
  gap: var(--gap-s);
}



.list-skill__group {
  gap: var(--gap-xs);

  & .list-skill__group-title {
    font-weight: 700;
    font-size: 1.125rem;
  }
}

.list--skills p {
  justify-self: start;
}

.list-socials {
  gap: var(--gap-xs);
}

.list__grid {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--gap-s);
  container-type: inline-size;
  container-name: project-grid;
}

@media (hover: hover) {
  .list__grid:has(.grid-list__item:hover) .grid-list__item:not(:hover) {
    filter: grayscale(1) blur(4px);
  }
}

