.modal {
  padding: 0;
  border: none;
  border-radius: 0.75rem;
  max-width: 40rem;
  width: 100%;
  background-color: var(--bg);
  color: var(--text);
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  transition-property: display opacity scale;
  transition-duration: 1s;
  transition-behavior: allow-discrete;
  opacity: 0;
  scale: 0;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.25);
}


.modal__content {
  display: flex;
  flex-direction: column;
  gap: var(--gap-m);
  padding: 2rem;
}

.modal__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 0.75rem;
  max-height: 20rem;
}

.modal__text {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}

.modal__github-hint {
  margin-top: var(--gap-s);
  font-size: 0.9rem;
  opacity: 0.7;
}

.modal__actions {
  display: flex;
  gap: var(--gap-s);
  align-items: stretch;
}

.modal__actions .btn--actions {
  flex: 1;
}

.modal__actions .btn--actions:only-child {
  width: 100%;
}

dialog[open] {
  display: block;
  opacity: 1;
  scale: 1;

  @starting-style {
    opacity: 0;
    scale: 0;
  }
}