/* Mobile-first styles */
.main-nav {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  z-index: 1000; 
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  font-size: 1.2rem;
  background: transparent;
}

.main-nav__mobile-controls {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--text);
  padding: 0.3rem;
  border-radius: 1.5rem;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 11;
}

.main-nav__toggle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  width: 2rem;
  height: 2rem;
  position: relative;
  padding-right: 0.5rem;
}

.main-nav__toggle-icon {
  border-radius: 0.125rem;
  background-color: var(--bg);
  display: block;
  height: 0.2rem;
  position: relative;
  width: 100%;
  transition: background-color 0.5s ease 0s;
}

.main-nav__toggle-icon::before {
  border-radius: 0.125rem;
  background-color: var(--bg);
  content: '';
  display: block;
  height: 0.2rem;
  margin-top: -0.4rem;
  position: absolute;
  width: 100%;
  transition: margin 0.2s ease 0.2s, transform 0.2s ease 0s, background-color 0.5s ease 0s;
}

.main-nav__toggle-icon::after {
  border-radius: 0.125rem;
  background-color: var(--bg);
  content: '';
  display: block;
  height: 0.2rem;
  margin-top: 0.4rem;
  position: absolute;
  width: 100%;
  transition: margin 0.2s ease 0.2s, transform 0.2s ease 0s, background-color 0.5s ease 0s;
}

.main-nav__toggle.active .main-nav__toggle-icon {
  background-color: transparent;
}

.main-nav__toggle.active .main-nav__toggle-icon::before {
  margin-top: 0;
  transform: rotate(45deg);
  transition-delay: 0s, 0.2s;
}

.main-nav__toggle.active .main-nav__toggle-icon::after {
  margin-top: 0;
  transform: rotate(-45deg);
  transition-delay: 0s, 0.2s;
}

.main-nav__menu {
  background-color: var(--text);
  list-style: none;
  position: fixed;
  top: calc(1rem + 3.1rem + 0.5rem);
  right: 1rem;
  flex-direction: column;
  gap: var(--gap-sm, 0.5rem);
  padding: var(--gap-base, 1rem);
  min-width: 12.5rem;
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  pointer-events: none;
  border-radius: 1rem;
  display: flex;
}

.main-nav__menu.active {
  max-height: 31.25rem;
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: all;
}

.main-nav__menu-item:first-child {
  display: none;
}

.main-nav__menu-item {
  width: 100%;
  padding: 0;
  border-radius: 0;
}

.main-nav__menu-item.active {
  background-color: transparent;
}

.main-nav__menu-item.active .main-nav__menu-link {
  opacity: 1;
  background-color: var(--active-nav-link);
}

.main-nav__menu-link {
  display: block;
  padding: var(--gap-xs, 0.5rem) var(--gap-sm, 0.75rem);
  border-radius: 0.5rem;
  opacity: 0.5;
  color: var(--bg);
  transition: all 0.3s ease-in-out;
  font-weight: 500;
}

.main-nav__menu-link:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.1);
}

@media (min-width: 769px) {
  .main-nav {
    justify-content: center;
    padding: 1rem;
    align-items: center;
  }

  .main-nav__mobile-controls {
    display: none;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__menu {
    position: static;
    display: flex;
    flex-direction: row;
    padding: 0.3rem;
    border-radius: 1.5rem;
    flex-wrap: wrap;
    column-gap: var(--gap-s);
    row-gap: 0rem;
    justify-content: center;
    min-width: auto;
    max-height: none;
    opacity: 1;
    visibility: visible;
    transform: none;
    pointer-events: all;
    gap: 0;
  }

  .main-nav__menu-item:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-nav__menu-item:first-child .theme-toggle {
    padding-left: 0;
  }

  .main-nav__menu-item {
    width: auto;
    padding: 0.2rem 0.5rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
  }

  .main-nav__menu-item.active {
    background-color: var(--active-nav-link);
  }

  .main-nav__menu-item.active .main-nav__menu-link {
    background-color: transparent;
  }

  .main-nav__menu-link {
    display: inline;
    padding: 0;
    border-radius: 0;
  }

  .main-nav__menu-link:hover {
    background-color: transparent;
  }
}


