.popover {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0.75rem 1.25rem;
  border-radius: 1rem;
  background-color: var(--text);
  color: var(--bg);
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
  border: none;

  display: none;
  transition-property: display opacity scale;
  transition-duration: 1s;
  transition-behavior: allow-discrete;
  opacity: 0;
  scale: 0;

  &:popover-open {
    display: block;
    opacity: 1;
    scale: 1;
    animation: fadeScaleOut 1s ease forwards;
    animation-delay: 2s;

    @starting-style {
      opacity: 0;
      scale: 0;
    }
  }
}


