@import url("./abstracts/variables.css");

@import url("./base/reset.css");

@import url("./layouts/container.css");
@import url("./layouts/footer.css");
@import url("./layouts/grid.css");
@import url("./layouts/hero.css");
@import url("./layouts/section.css");

@import url("./components/btn.css");
@import url("./components/card.css");
@import url("./components/form.css");
@import url("./components/images.css");
@import url("./components/link.css");
@import url("./components/lists.css");
@import url("./components/marquee.css");
@import url("./components/modal.css");
@import url("./components/nav.css");
@import url("./components/popover.css");
@import url("./components/sr.css");
@import url("./components/theme-toggle.css");

@import url("./animations/autoRotate.css");
@import url("./animations/pulse.css");
@import url("./animations/quick-flip.css");
@import url("./animations/page-transition.css");

@import url("./animations/drawLoop.css");
@import url("./animations/phoneShake.css");
@import url("./animations/socialBounce.css");

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  color: var(--text);
  background-color: var(--bg);
}

a {
  color: var(--neutrals-black);
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
}

h1 {
  white-space: nowrap;
  font-size: clamp(1rem, 9vw, 15rem);

  @media screen and (min-width: 768px) {
    font-size: clamp(1rem, 9.5vw, 15rem);
  }
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1.2rem;
}

.hidden {
  display: none;
}

.content-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--gap-xxl);
}

@media screen and (min-width: 768px) {
  p {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 5rem;
  }
}

.responsive-map {
  width: 100%;
  height: 15.625rem;
  border: 0;
  border-radius: 0.75rem;

  @media (min-width: 30rem) {
    height: 21.875rem;
  }

  @media (min-width: 48rem) {
    height: 28.125rem;
  }
}
