.fadeInNOut {
  animation: fadeInNOutAnimation linear both;
  animation-timeline: view();
}

@keyframes fadeInNOutAnimation {
  0% {
    opacity: 0;
  }
  20%{
    opacity: 0;
}
30%, 70%{
    opacity: 1;
}
80%{
    opacity: 0;
}
100% {
  opacity: 0;
}
}