.container {
  display: flex;
}

.container--column {
  flex-direction: column;
  gap: var(--gap-l);
}

.container--row {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--gap-xl);
  align-items: center;

  @media screen and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
  }
}

.container__text {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}

.container__text a {
  color: var(--text);

}

.container--centered {
  justify-content: center;
  align-items: center;
}

.phone__icon-container {
  position: relative;
}

.container--pb-xl {
  padding-bottom: var(--gap-xl);
}